@import '../../../styles/variables';
.simple-circle {
  width: 2rem;
  height: 2rem;
  border: 5px solid #f3f3f3;
  border-top: 6px solid map-get($theme-colors, primary);
  border-radius: 100%;
  margin: auto;
  animation: spin 1s infinite linear;

  &.display {
    visibility: visible;
  }

  &.center {
    position: absolute;
    top: 50%;
    left: 50%;
  }
}


@keyframes spin {
  from {
    transform: rotate(Odeg);
  }
  to {
    transform: rotate(360deg);
  }
}