@import url("https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css");
.dashboard {

}
.text-input {

  width: 100%;
  border: none;
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  background-color: $clr-white;
  color: $clr-black;
  transition: background-color ease-in-out 250ms;
  border-radius: 1rem;
  min-height: 3rem;
  resize: none;

  &:focus, &:hover {
    outline: none;
    background-color: rgba($clr-grey, 0.15);
  }


}

.file-input {
  @extend .text-input;

  ::file-selector-button {
    background-color: $clr-accent;
    color: $clr-white;
    border: none;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    transition: background-color ease-in-out 250ms;

    &:hover, &:focus {
      outline: none;
      background-color: rgba($clr-grey, 0.15);
    }
  }

}

.hide-show {

  max-height: 0;
  opacity: 0;
  overflow-y: hidden;
  transition: max-height ease-out 350ms, opacity ease-out 350ms;
}

.btn {
  border-radius: 0.5rem;
    padding: 0.5rem 1rem;
  background-color: $clr-accent;
  border-color: $clr-accent;
}


.about {
  font-weight: bold;
  margin-bottom: 20px;
}

.black {
  /* Font weight not bold */
  font-weight: normal !important;
}

.logo {

  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 100px;
  box-shadow:  5px 5px 10px $clr-accent;
}